.validate_card{
    margin-top: 20%;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.5);
   
    
    
    
}

.validate_bg{
    background-image: url("../../assets/passport.webp") ;  
    background-position:top;
    background-attachment: fixed; 
    font-family: "Iron";
    font-size: 1.3rem;
    min-height: 100vh;
    overflow: hidden
   
}
